@{
    ViewData["Title"] = "Change Password";
}
<link rel="stylesheet" href="~/css/Login.css" />
<body>
    <h2>Change Password</h2>
    <form>
        <label>New password</label>
        <input placeholder="******" />
        <label>Confirm Password</label>
        <input placeholder="******" />
        <button>Submit</button>

    </form>
</body>