@{
    ViewData["Title"] = "File Converter";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>File Converter</h2>
        <form method="post" enctype="multipart/form-data" asp-action="ConvertFile">
            <div>
                <label for="file">Choose a file:</label>
                <input type="file" name="file" id="file" required>

            </div>
            <div>
                <label for="conversionType">Choose conversion type:</label>
                <select name="conversionType" id="conversionType">
                    <option value="WordToPDF">Word to PDF</option>
                    <option value="PDFToWord">PDF to Word</option>
                </select>
            </div>

            <button type="submit">Convert</button>
        </form>
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
    </div>
</body>