@{
    ViewData["Title"] = "File Converter";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
</head>

<form enctype="multipart/form-data" method="post" asp-action="ConvertFile">
    <div>
        <h1>File Converter</h1>

        <input type="file" name="file" id="file" />
        <div id="hideButton">
            <button onclick="removeButton()" class="button1">Remove</button>
        </div>
    </div>
    <div>
        <label for="conversionType">Choose conversion type</label>
        <select name="conversionType" id="conversionType">
            <option value="PDFToWord">PDF to Word</option>
            <option value="WordToPDF">Word to PDF</option>
        </select>
    </div>

    <button type="submit">Convert</button>
</form>

@if (ViewBag.Message != null)
{
    <div>
        <p>@ViewBag.Message</p>
    </div>
}
