@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css">

    <body>
        <Login-h1>Login</Login-h1>
        <form>
      <div class="input">
        <label>Email</label>
        <input placeholder="Email" />

        
        </div>
        <div class="input">
        <label>Password</label>
        <input placeholder="Password"/>
        </div>
        <a asp-controller="Home" asp-action="VerifyEmail">Forgot password?</a>
        <div class="Login-button">
            <button>Sign In</button>
        </div>
        <Login-h2>Dont have an account?</Login-h2>
        <a asp-controller="Home" asp-action="Register" class="link">Signup</a>
    </form>
    </body>
