@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css">

    <body>
        <Login-h1>Login</Login-h1>
        <form>
      <div class="input">
        <label>Email</label>
        <input placeholder="Email" />

        
        </div>
        <div class="input">
        <label>Password</label>
        <input placeholder="Password"/>
        </div>
        <div class="Login-button">
            <button>Sign In</button>
        </div>
        <a href="">Sign Up?</a>
    </form>
    <Sign-h1>Sign Up</Sign-h1>
    <div class="input">
        <label>First Name</label>
        <input placeholder="First Name" />
    </div>
    <div class="input">
        <label>Last Name</label>
        <input placeholder="Last Name" />
    </div>
    <div class="input">
        <label>Email</label>
        <input placeholder="Email" />
    </div>
    <div class="input">
        <label>Password</label>
        <input placeholder="Password" />
    </div>
    <a href="">Log in?</a>
    </body>
