@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css">

    <body>
        <Login-h1>Login</Login-h1>
        <form>
      <div class="input">
        <label>Email</label>
        <input placeholder="Email" />

        
        </div>
        <div class="input">
        <label>Password</label>
        <input placeholder="Password"/>
        </div>
        <div class="Login-button">
            <button>Sign In</button>
        </div>
        <a href="">Sign Up?</a>
    </form>
    </body>
