@{
    ViewData["Title"] = "Verify Email";
}
<link rel="stylesheet" href="~/css/Login.css" />
<body>
    <form>
        <label>Verify Email</label>
        <input placeholder="email@example.com"/>
        <button>Submit</button>

    </form>
</body>